/public/hot
/public/storage
/storage/*.key
/storage/api-docs/*
/node_modules
/vendor/**/
/vendor/*.php
.env
/public/vendor/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
data/
tmp/
public/js/app.js
public/css/app.css
supervisord.log
supervisord.pid
**/.terraform/**/
*.tfstate
.phpunit.cache